body {
    background-color: #ffcc66;
}

img {
    margin-top: 3%;
    margin-bottom: 3%;
    height: auto;
    max-width: 30%;
}

ul {
    list-style-type:none;
    text-align: center;
}

#non-dev-background {
    background-color: white;
    margin: 2%;
    padding: 2%;
}

#dev-background {
    background-color: white;
}

#form-area {
    margin-top:2%;
    margin-bottom: 2%;
}

#burger-text {
    width: 60%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}